:root {
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  margin-inline: 2em;
}
