@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  margin-inline: 2em;
}

button {
  padding: 0.5em;
  font-size: medium;
  font-weight: 600;
  border: 0.1rem solid black;
  box-shadow: 0.4rem 0.3rem 0.3rem black;
}

button:hover {
  background-color: lightgrey;
}

button:active {
  background-color: grey;
}
