.pokemon__card--view {
  display: block;
  background-color: lightblue;
  margin: 1em 1em 1em 0;
  padding: 0.5em;
  width: 15em;
  height: 20em;
  text-align: center;
  border-radius: 0.5em;
  border: 0.1rem solid black;
  box-shadow: 0.4rem 0.3rem 0.3rem black;
}
