.pokemon__cardcontainer {
  display: inline-flex;
  background-color: lightblue;
  margin: 1em 1em 1em 0;
  border-radius: 0.5em;
}

.pokemon__eachcard {
  display: flex;
  flex-direction: column;
  width: 10em;
  height: 8em;
}

.pokemon__eachcard h3 {
  text-align: center;
}

.pokemon__eachcard button {
  margin: 1em;
}
