.pokemon__cardcontainer {
  display: inline-flex;
  background-color: lightblue;
  margin: 1em 1em 1em 0;
  border-radius: 0.5em;
  border: 0.1rem solid black;
  box-shadow: 0.4rem 0.3rem 0.3rem black;
}

.pokemon__eachcard {
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 20em;
}

.pokemon__eachcard h3 {
  text-align: center;
}

.pokemon__eachcard button {
  margin: 12em 1em 1em 1em;
}
